*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

/* smooth behavior in html start */
html{
  scroll-behavior: smooth;
}

/* smooth behavior in html end */

/* banner section start */
#banner{
  background-image: url('../img/banner/banner.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  position: relative;
  z-index: 2;
}

#banner::after{
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

.imageJump{
  animation: imgAnimation 3s infinite ease;
  -webkit-animation: imgAnimation 3s infinite ease;
}

@keyframes imgAnimation{
  0%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
50%{
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}
100%{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
}

/* banner section end */

/* contact section start */
#contact{
  position: relative;
}

#contact div .card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* contact section end */

/* bestSelling section start */
.imgRotated{
  animation: imageRotate 8s linear infinite;
  -webkit-animation: imageRotate 8s linear infinite;
}
@keyframes imageRotate{
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
/* bestSelling section end */